#logo{
width: 200px;
margin-top: 100px;
}

.pattern{
 background-image:url(img/pattern.png);
background-color: rgba(0, 89, 255, 0.507);
width: auto;
}

h1{
    margin-right: 700px;
}

#info{
    color: grey;
}

#autore{
    color: rgb(0, 162, 255);
}